/*hedder*/
html, body {
	width: 100%;
	height: 100%;
}
.home-hedder{
	position: fixed;
}
.herd-img {
	width: 100%;
}
.home {
	margin-top: 80px;
}
.exp-paragraph {
	margin-right:50px;
}
.header-div {
	float: left;
	margin-left: 250px;
	margin-top: 40px;
	display: inline-block;
}
.nav-blok {
	float: right;
	margin-left: 50px;
	display: inline-block;
}
.nav-1 {
	display: inline-block;
	color: black;
}
.main-nav {
	margin-right: 200px;
	margin-top: 40px;
}
.clear {
	clear: both;
} 
.inline-wrapper {
	display: inline-block;
}
/*section*/
